
.loading 
    div#helloworld Hello World!
    div Welcome to the world of 
        a(href="https://angular.io") Angular2
        |, 
        a(href="http://jade-lang.com") Jade 
        |and 
        a(href="http://sass-lang.com") Sass
        |. 
        p Edit this component to get started.
        p Created by 
            a(href="http://maximiliankerz.com") Maximilian Kerz.
